body {
    font-family: Arial, Helvetica, sans-serif;
}

/*YOUTUBE SUBSCRIBE BUTTON*/
.subscribe-btn {
    border: none;
    background: red;
    color: white;
    border-radius: 50px;
    margin-bottom: 30px;
    /*Margin is the outside of an element*/
    padding: 10px;
    /*Padding is the inside of an element*/
    width: 100px;
    font-weight: bold;
    cursor: pointer;
}

/*AMAZON CART*/
.is-subscribed {
    background: black;
}

.cost-input {
    font-size: 15px;
    padding: 10px;
    border-radius: 3px;
}

.total-btn {
    padding: 12px;
    background: green;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

/*ROCK, PAPER, SCISSORS*/
.rock-paper-scissors-body {
    background: rgb(5, 97, 89);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    font-size: 30px;
    font-weight: bold;
}