body {
    font-family: Arial, Helvetica, sans-serif;
}

.subscribe-btn {
    border: none;
    background: red;
    color: white;
    border-radius: 50px;
    margin-bottom: 30px;
    /*Margin is the outside of an element*/
    padding: 10px;
    /*Padding is the inside of an element*/
    width: 100px;
    font-weight: bold;
    cursor: pointer;
}

.is-subscribed {
    background: black;
}